# Node.js / npm
node_modules/
package-lock.json

# Vite
dist/
.env.local

# Build output
build/

# Editor settings and temporary files
.idea/
.vscode/
*.log
*.swp

# Log files
logs/

# Temporary files
*.tmp
*.bak
*.orig

# OS-specific files
.DS_Store

# Miscellaneous
*.DS_Store
Thumbs.db

# Ignore .env files at any level in the directory structure
**/.env*

# Ensure .env files are ignored even if they are nested within specific directories
apps/api/.env